@import "tailwindcss";
.side-popup{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 320px;
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  z-index: 9999;

  animation: slideIn .5s ease;
}

@keyframes slideIn{
  from{
    transform: translateX(120%);
    opacity:0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}

.popup-close{
  position:absolute;
  top:10px;
  right:12px;
  border:none;
  background:none;
  font-size:18px;
  cursor:pointer;
  color:#777;
}

.popup-close:hover{
  color:#000;
}

.side-popup h3{
  font-size:20px;
  margin-bottom:8px;
}

.side-popup p{
  font-size:14px;
  color:#666;
  margin-bottom:18px;
}

.popup-btn{
  display:inline-block;
  padding:10px 20px;
  background: linear-gradient(135deg,#6366f1,#9333ea);
  color:#fff;
  border-radius:6px;
  text-decoration:none;
  font-weight:600;
  transition:.25s;
}

.popup-btn:hover{
  transform:translateY(-2px);
}